body {
  font-family: sans-serif;
}

.spicy:before {
  width: 16px;
  height: 16px;
  content: "";
  background-image: url("../assets/spicy.svg");
  background-repeat: no-repeat;
  display: inline-block;
  padding-right: 3px;
  position: relative;
  top: 2px;
}
/*checkbox for spicy food */
#myCheck {
  text-align: left;
  padding-left: 8%;
  padding-top: 2%;
  size: 300px;
}
#checkMybox {
  text-align: left;
  padding-left: 8%;
  padding-top: 2%;
  size: 300px;
}
/* If the screen size is 601px or more, set the font-size of <div> to 80px */
@media only screen and (min-width: 601px) {
  #header-h1 {
    color: #000000;
    font-weight: 500;
    font-size: 4.1rem;
    text-align: justify;
    padding-left: 8%;
    padding-top: 10%;
    font-family: "Montserrat-bold";
  }
  #header-restaurante {
    background-image: url("https://raw.githubusercontent.com/luanacesar/myweb/master/header_restaurant1.JPG"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 630px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }
  h2 {
    font-family: "Montserrat-bold";
    font-size: 4rem;
    text-align: center;
    padding-top: 2%;
  }
  h4 {
    font-family: "Pacifico";
    font-size: 2rem;
    line-height: 1.5;
    text-align: center;
  }
}
/* If the screen size is 600px or less, set the font-size of <div> to 30px */
@media only screen and (max-width: 600px) {
  #header-h1 {
    font-size: 2rem;
    text-align: justify;
    padding-left: 10%;
    padding-top: 10%;
    font-family: "Montserrat-bold";
  }
  #header-restaurante {
    background-image: url("https://raw.githubusercontent.com/luanacesar/myweb/master/header_restaurant-mob.jpg"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 300px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }
  h2 {
    font-family: "Montserrat-bold";
    font-size: 1.5rem;
    text-align: center;
    padding-top: 2%;
  }
  h4 {
    font-family: "Pacifico";
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
  }
}

h3 {
  font-family: "Montserrat-bold";
  text-align: center;
}

#starters,
#pizza {
  padding: 5px;
  text-align: center;
  background-color: #bc1823;
}
#pasta {
  padding: 10px;
  text-align: center;
  background-color: #efefef;
}
.column {
  padding: 5% 2% 2%;
}
